.Navbar {
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  padding: 1.6rem 2.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-top: 3.2rem;
    padding-bottom: 2.7rem;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    padding: 2.4rem 3.2rem 2.7rem 3.2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    color: #ffffff;
    font-family: "Antonio", sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
  }

  &__list {
    list-style: none;
  }

  &__menu {
    &--bar {
      background-color: #fff;
      width: 2.4rem;
      height: 0.3rem;
      display: block;

      &:first-child {
        margin-bottom: 0.4rem;
      }

      &:last-child {
        margin-top: 0.4rem;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.Navbar__menu.active .Navbar__menu--bar {
  background-color: #979797;
}
