.NavbarOverlay {
  background-color: #070724;
  position: absolute;
  width: 0%;
  height: 90vh;
  top: 6.9rem;
  left: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;

  @media (min-width: 768px) {
    display: none;
  }

  &.active {
    width: 100%;
  }
}
